@font-face
  font-family: 'ProximaNovaLight'
  src:  url('./ProximaNova_Light.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'ProximaNovaRegular'
  src:  url('./ProximaNova_Regular.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'ProximaNovaSemibold'
  src:  url('./ProximaNova_Semibold.ttf')
  font-weight: normal
  font-style: normal
